<html>
<head>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "cf6ed93b-885c-487f-a3ca-8e2f80e3c897", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "e4d8b34c-6668-4f54-b5e9-f9b3315ea2ac", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
<title>life hospital</title><strong><h>life hospital</h></strong><br>
<img src="https://recommend-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.jpg" alt="logo" height="100" width="100"><br>
</head>
<p>we have lot of branches all over this city</p><br>
<img src="https://recommend-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/boy.jpg" alt="boy" height="150" width="200"><br>

<img src="https://recommend-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/cute.jpg" alt="nurse" height="150" width="200"><br>
<img src="https://recommend-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/nurse.jpg" alt="nurse" height="150" width="200"><br>
<p>we have best AI to assist you</p>
<p>copyLeft 2022 VR-7 Corporation Ltd.</p>
</html>