<html>
<head>
<img src="https://fashion-recommendar.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.jpg" alt="logo" width="90" height="90">
<title>sami hospital</title>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "e878e55f-3e85-498c-8e0c-f22e5aa51e6a", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "0f7f8dcb-382a-46f3-9655-374eec3c86d6", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</head>
<body>	
	<h>Thoothookudi hospital</h><br>
	<p>hi we have a good infrastructure in our hospital</p><br>
	<img src="https://fashion-recommendar.s3.jp-tok.cloud-object-storage.appdomain.cloud/cute.jpg" alt="nure" width="150" height="150">
	<p>our hospital is located all over <strong> india</strong></p>	
	<img src="https://fashion-recommendar.s3.jp-tok.cloud-object-storage.appdomain.cloud/boy.jpg" alt="boy" width="150" height="150">
	<p><strong></strong></p>
</body>
</html>